<?xml version="1.0" encoding="UTF-8"?>
<!--
	- DispatcherServlet application context for web tier.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    component-scan finds all controller annotated classes, no need to set implicitely
        <bean class="edu.uta.courses.web.HelloController"></bean>
    -->
    <mvc:annotation-driven />

    <context:component-scan base-package="edu.uta.sis.logexample" use-default-filters="false">
        <context:include-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

    <!--
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        -->
        <property name="prefix">
            <value>/WEB-INF/view/jsp</value>
        </property>

        <property name="suffix">
            <value>.jsp</value>
        </property>


    </bean>


</beans>
