<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Calendars - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resources/css/gtvg.css" th:href="@{/resources/css/gtvg.css}" />
</head>

<body>


<h1 th:text="#{loggedin.h1}">You have been logged in.</h1>

<pre>
<label th:text="#{loggedin.label}">Logged user:</label>  <span sec:authentication="name">Bob</span>
</pre>

<a href="logout.html" th:href="@{/logout}"><span th:text="#{link.logout}">Logout</span></a>
<a href="home.html" th:href="@{/}"><span th:text="#{page.home}">Etusivu</span></a>
</body>
</html>