<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <script th:src="@{/resources/js/bootstrap.js}" src="../../resources/js/bootstrap.js"></script>
    <script th:src="@{/resources/js/moment.js}" src="../../resources/js/moment.js"></script>
    <script th:src="@{/resources/js/lodash.js}" src="../../resources/js/lodash.js"></script>
    <script th:src="@{/resources/js/fullcalendar.js}" src="../../resources/js/fullcalendar.js"></script>

</head>

<body>



</body>

</html>